<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.demo.dao.StudentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyr.demo.entity.Student">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="my_email" property="myEmail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id,name,my_email
    </sql>

    <select id="findStudentById" resultType="com.lyr.demo.entity.Student">
        select <include refid="Base_Column_List"></include> from people where id = #{id} ;
    </select>

</mapper>
